:root {
  --color-primary: #AB1725;
  --color-text: #0F1C2D;
  --color-light: #A8A8A8;
}

::selection {
  background-color: var(--color-text);
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saira Condensed', sans-serif;    
  color: var(--color-text);
}
